# Ignore node packages
node_modules

# Ignore all files in the build directory
build/

# Ignore the .env file
.env

# Ignore node modules
node_modules/

# Ignore package-lock.json
package-lock.json

# Ignore bruno API tester
_bruno/
bruno_runequestAPI/
bruno_runequestRemote/

# Ingore test coverage directory
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
