.header-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: fit-content;
  border: #000000 solid 1px;
  border-radius: 0.5em;
  background-color: #525252;
}

.header-card h1 {
  margin: 0.3em 0.1em;
  padding: 0 0.2em;
  color: #ffffff;
}

.header-card .profile-link img {
  width: 3.6em;
}

