.menu-card {
    all: unset;
    position: relative;

    text-align: center;

    width: fit-content;
}

.menu-card ul {
    all: unset;
    list-style-type: none;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;

    background-color: #696969;
    border: black solid 1px;
    border-radius: 0.5em;
    padding: 0.4em;
    gap: 0.4em;
}

.menu-card li {
    border: black solid 1px;
    border-radius: 0.5em;
    padding: 0.6em;

    background-color: #525252;
}

.menu-card .divider {
    all: unset;
    height: 1px;
    background-color: black;
}

.menu-card a,
.menu-card button {
    all: unset;
}